<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/get_image/web_contents/AT_Logo.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Animated Tale</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/util.js"></script>
    <script src="/js/init.js"></script>
</head>
<body>
    <h1 class="title">Animated Tale</h1>
    <div id="processingMessage" style="display: none; text-align: center;">
        <div class="loader"></div>
        Processing...
    </div>
    <div class="canvas-container">
        <div class="canvas">
            <div id="canvas-image">
                <img id="uploadedImage" src="" alt="Uploaded Image" style="display: none;">
                <svg class="svg" id="svg" style="display: none"></svg>
            </div>
            <div class="gif-grid" id="canvas-gif" style="display: none;">
                <img src="/get_image/web_contents/motions/hi.gif" alt="GIF 1" data-name="hi">
                <img src="/get_image/web_contents/motions/dab.gif" alt="GIF 2", data-name="dab">
                <img src="/get_image/web_contents/motions/hurray.gif" alt="GIF 2", data-name="hurray">
                <img src="/get_image/web_contents/motions/jelly.gif" alt="GIF 2", data-name="jelly">
                <img src="/get_image/web_contents/motions/jesse_dance.gif" alt="GIF 2", data-name="jesse_dance">
                <img src="/get_image/web_contents/motions/jumping_jacks.gif" alt="GIF 2", data-name="jumping_jacks">
                <img src="/get_image/web_contents/motions/wave_hello.gif" alt="GIF 2", data-name="wave_hello">
                <img src="/get_image/web_contents/motions/lala.gif" alt="GIF 2", data-name="lala">
                <img src="/get_image/web_contents/motions/sun.gif" alt="GIF 2", data-name="sun">
                <img src="/get_image/web_contents/motions/waltz_f.gif" alt="GIF 2", data-name="waltz_f">
                <img src="/get_image/web_contents/motions/jazz.gif" alt="GIF 2", data-name="jazz">
                <img src="/get_image/web_contents/motions/zombie.gif" alt="GIF 2", data-name="zombie">
            </div>
        </div>
        <div class="button-container">
            <input class="file" type="file" name="file" id="fileInput" />
            <label for="fileInput" class="btn-common btn-upload">Select</label>
            <input class="file" name="" id="submitInput" />
            <label for="submitInput" class="btn-common btn-submit" id="submitButton" onclick="btn_submit(this)" style="display:none" value=0>Next</label>
        </div>
    </div>
    <div id="submittedMessage" class="submitted-popup">
        Submitted
    </div>


    <svg class="balloon" style="left: 5%; width: 60px; animation-delay: 1s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="right: 10%; width: 80px; animation-delay: 3s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="left: 15%; width: 50px; animation-delay: 2s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="right: 15%; width: 50px; animation-delay: 4s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="left: 10%; width: 80px; animation-delay: 5s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="right: 5%; width: 60px; animation-delay: 6s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>

    <div class="doodle circle" style="top: 5%; left: 10%;"></div>
    <div class="doodle line" style="top: 43%; left: 5%;"></div>
    <div class="doodle circle" style="top: 65%; left: 14%;"></div>
    <div class="doodle dot" style="top: 20%; left: 20%;"></div>
    <div class="doodle zigzag" style="top: 30%; left: 5%;"></div>
    <div class="doodle squiggle" style="top: 15%; left: 15%;"></div>
    <div class="doodle circle" style="top: 20%; right: 15%;"></div>
    <div class="doodle line" style="top: 45%; right: 5%;"></div>
    <div class="doodle dot" style="top: 8%; right: 5%;"></div>
    <div class="doodle zigzag" style="top: 70%; right: 10%;"></div>
    <div class="doodle zigzag" style="top: 6%; right: 27%;"></div>
    <div class="doodle squiggle" style="top: 65%; right: 20%;"></div>

    <script>
        const imgElement = document.getElementById('uploadedImage');
        const canvas = document.querySelector('.canvas');
        const input = document.querySelector('.file');
        const div = document.querySelector('.btn-upload');
        const submit = document.querySelector('.btn-submit');

        document.getElementById('fileInput').addEventListener('change', function() {
            var submitButton = document.getElementById('submitButton');
            if(this.files.length > 0) {
                submitButton.style.display = 'inline';
                div.style.display = "none"
            } else {
                submitButton.style.display = 'none';
            }
        });
        document.querySelector('input[type="file"]').addEventListener('change', function (e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imgElement.src = e.target.result;
                    imgElement.style.display = "block";
                    imgElement.onload = function() {
                        const width = canvas.offsetWidth
                        const height = canvas.offsetHeight
                        const padding = 60
                        if (this.width > this.height){
                            imgElement.style.width = (width - padding)+ "px";
                        }else{
                            imgElement.style.height = (height - padding)+ "px";
                        }
                    }
                }
                reader.readAsDataURL(file);
            }
        });

        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('from_confirm')) {
                let message = document.getElementById('submittedMessage');
                message.style.display = "block";

                setTimeout(function() {
                    message.style.display = "none";
                }, 2000);
            }
        }

        const btn_submit = async (e) => {
            btn_type = $(e).attr("value")

            switch(btn_type){
                case "0":
                    get_skeleton()
                    $(e).text("Next")
                    break
                case "1":
                    save_skeleton()
                    draw_contours()
                    mode = "segment"
                    break
                case "2":
                    $("#canvas-gif").css("display","grid")
                    $("#canvas-image").css("display","none")
                    button_count()
                    break
                case "3":
                    make_gif()
                    break
            }
        }

        const save_skeleton = () => {
            joints = []
            $.each($("circle"), function(idx, val){
                const target = $($("circle")[idx])
                if(idx == 0){
                    joints.push([target.attr("cx") / width_rate, target.attr("cy") / height_rate])
                }
                joints.push([target.attr("cx") / width_rate, target.attr("cy") / height_rate])
            })
            $("circle").remove()
            $("text").remove()

            button_count()
        }

    </script>
</body>

</html>



