<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/get_image/web_contents/AT_Logo.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Animated Tale</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/util.js"></script>
</head>
<body>
    <h1 class="title">Animated Tale</h1>
    <div id="processingMessage" style="display: none; text-align: center;">
        <div class="loader"></div>
        Processing...
    </div>
    <div class="canvas-container">
        <div class="canvas">
            <img id="uploadedImage" src="" alt="Uploaded Image" style="display: none;">
            <svg class="svg" id="svg" style="display: none"></svg>
        </div>
        <div class="button-container">
            <input class="file" type="file" name="file" id="fileInput" />
            <label for="fileInput" class="btn-common btn-upload">Upload</label>
            <input class="file" name="" id="submitInput" />
            <label for="submitInput" class="btn-common btn-submit" id="submitButton" onclick="get_skeleton()" style="display:none">Submit</label>
            <!-- <button class="btn-common btn-submit" style="display:none" id="submitButton" onclick="get_skeleton()">사진 전송</button> -->
        </div>
    </div>
    <div id="submittedMessage" class="submitted-popup">
        Submitted
    </div>


    <svg class="balloon" style="left: 5%; width: 60px; animation-delay: 1s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="right: 10%; width: 80px; animation-delay: 3s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="left: 15%; width: 50px; animation-delay: 2s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="right: 15%; width: 50px; animation-delay: 4s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="left: 10%; width: 80px; animation-delay: 5s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>
    <svg class="balloon" style="right: 5%; width: 60px; animation-delay: 6s;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a7 7 0 0 1 7 7c0 3.08-3.46 7.5-7 11.5C8.46 16.5 5 12.08 5 9a7 7 0 0 1 7-7z"/><path d="M12 22s-1.5 1.5-3 0"/></svg>

    <div class="doodle circle" style="top: 5%; left: 10%;"></div>
    <div class="doodle line" style="top: 43%; left: 5%;"></div>
    <div class="doodle circle" style="top: 65%; left: 14%;"></div>
    <div class="doodle dot" style="top: 20%; left: 20%;"></div>
    <div class="doodle zigzag" style="top: 30%; left: 5%;"></div>
    <div class="doodle squiggle" style="top: 15%; left: 15%;"></div>
    <div class="doodle circle" style="top: 20%; right: 15%;"></div>
    <div class="doodle line" style="top: 45%; right: 5%;"></div>
    <div class="doodle dot" style="top: 8%; right: 5%;"></div>
    <div class="doodle zigzag" style="top: 70%; right: 10%;"></div>
    <div class="doodle zigzag" style="top: 6%; right: 27%;"></div>
    <div class="doodle squiggle" style="top: 65%; right: 20%;"></div>

    <script>
        const imgElement = document.getElementById('uploadedImage');
        const canvas = document.querySelector('.canvas');
        const input = document.querySelector('.file');
        const div = document.querySelector('.btn-upload');
        const submit = document.querySelector('.btn-submit');

        document.getElementById('fileInput').addEventListener('change', function() {
            var submitButton = document.getElementById('submitButton');
            if(this.files.length > 0) {
                submitButton.style.display = 'inline';
                div.style.display = "none"
            } else {
                submitButton.style.display = 'none';
            }
        });
        document.querySelector('input[type="file"]').addEventListener('change', function (e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imgElement.src = e.target.result;
                    imgElement.style.display = "block";
                    imgElement.onload = function() {
                        const width = canvas.offsetWidth
                        const height = canvas.offsetHeight
                        const padding = 60
                        if (this.width > this.height){
                            imgElement.style.width = (width - padding)+ "px";
                        }else{
                            imgElement.style.height = (height - padding)+ "px";
                        }
                    }
                }
                reader.readAsDataURL(file);
            }
        });

        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('from_confirm')) {
                let message = document.getElementById('submittedMessage');
                message.style.display = "block";

                setTimeout(function() {
                    message.style.display = "none";
                }, 2000);
            }
        }

        window.addEventListener(`resize`, function() {
            const width = canvas.offsetWidth
            const height = canvas.offsetHeight
            const padding = 60
            if (imgElement.width > imgElement.height){
                imgElement.style.width = (width - padding)+ "px";
            }else{
                imgElement.style.height = (height - padding)+ "px";
            }
        });

        window.addEventListener('mousemove', function(e){
            console.log(select_circle)
            if(mouse_state == 1 && select_circle != -1){
                X = e.layerX
                Y = e.layerY

                $(`#${select_circle}`).css("cx", X)
                $(`#${select_circle}`).css("cy", Y)
            }
        })

        window.addEventListener('mousedown', function(e){
            if(e.target.classList[0] == undefined){
                mouse_state = 1
            }
            if(e.target.classList[0] == "canvas"){
                mouse_state = 0
                // select_circle = -1
            }
        })

        window.addEventListener('mouseup', function(e){
            mouse_state = 0
            select_circle = -1
        })

    </script>
</body>

</html>



