body { font-family: 'Comic Sans MS', 'Chalkboard SE', 'Arial', sans-serif; background-color: #F7E0D3; background-image: url('https://www.transparenttextures.com/patterns/sketch.png'); margin: 0; padding: 0; overflow: hidden; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; }

.title { text-align: center; font-size: 5vw; color: #333; text-shadow: 0.25vw 0.25vw 0.5vw rgba(0, 0, 0, 0.5); margin-top: 1vh; margin-bottom: 1vh; animation: bounce 1s infinite; }
.canvas-container { position: relative; display: flex; justify-content: center; align-items: center; background-color: rgba(255, 255, 255, 0.5); flex-direction: column; margin-bottom: 5vh; width: 100%; padding: 2vh 0; }
.canvas { position: relative; width: 40vw; height: 50vh; background-color: white; border: 0.1vw solid #ccc; box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1); padding: 2vh; text-align: center; margin-top: 1vh; border-radius: 1.5vw; }

.svg{position: absolute; top: 2vh; left: 2vh}
/* -----------------------Buttons-------------------------------*/
.btn-common { font-size: 1.5vw; padding: 1.5vh 2vw; margin: 0 0.5vw; border: 0.08vw solid #ccc; border-radius: 0.4vw; cursor: pointer; transition: background-color 0.3s; min-width: 20vw; text-align: center; }
.btn-create { background-color: #333; color: #FFF; }
.btn-create:hover { background-color: #555; }
.button-container { display: flex; justify-content: center; align-items: center; margin-top: 2vh; margin-bottom: 1.5vh; }

.btn-upload { background-color: #333; border-color: #333; color: white; box-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.1); width: auto; }
.btn-upload:hover { background-color: #969696; }
.btn-submit { background-color: #87CEFA; border-color: #87CEFA; color: white; box-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.1); width: auto; }
.btn-submit:hover { background-color: #B0E0E6; }

.btn-prev { position: absolute; left: 12.3vw; bottom: 1vw; font-family: 'Comic Sans MS', 'Chalkboard SE', 'Arial', sans-serif; font-size: 1vw; text-decoration: none; padding: 1vh 2vw; border: 0.08vw solid #ccc; border-radius: 0.4vw; cursor: pointer; background-color: #87CEFA; color: white; transition: background-color 0.3s; }
.btn-prev:hover { background-color: #B0E0E6; }

form {  bottom: 3vh; right: 20vw; background-color: transparent; border: none; box-shadow: none; display: flex; flex-direction: row; gap: 1vw; }
/* form input[type="file"], form input[type="submit"] */
.file { display:none; }
.upload-btn-wrapper input[type=file] { font-size: 1.1vw; position: absolute; left: 0; top: 0; width: 100%; height: 100%; cursor: pointer; z-index: 2; opacity: 0; }

/* ------------- GIF ----------------------*/
.gif-grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); gap: 20px; padding: 1px; overflow-y: auto; max-height: 50vh; width: 100%; }
.gif-grid img { box-sizing: border-box; width: calc(100% - 16px); height: auto; display: block; padding: 8px; background: #fff; border: 1px solid #ddd; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); transition: transform 0.2s ease, box-shadow 0.2s ease; margin: 4px; }
.gif-grid img:hover { transform: scale(1.05); box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3); margin: 0px; }
.gif-grid img.active { outline: 2px solid skyblue; }

/* ------------- Process----------------------*/
#processingMessage {
    position: absolute;
    bottom: 3vw;
    left: 20vw;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    font-size: 1vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    z-index: 10;
}
.loader {
    border: 0.3vw solid #f3f3f3;
    border-top: 0.3vw solid #3498db;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    animation: spin 2s linear infinite;
    margin: 1vw auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.submitted-popup { display: none;  position: fixed; bottom: 10%; left: 50%; transform: translateX(-50%); background-color: rgba(128, 128, 128, 0.5); /* Transparent gray background */ padding: 20px; border-radius: 10px; color: white; font-weight: bold; text-align: center; width: auto; /* Adjust width as needed */ }

/* -----------------------Doodles-------------------------------*/
.balloon { position: absolute; bottom: 10vh; animation: float 4s infinite, drift 2s infinite; opacity: 0.8; z-index: -1; }
.doodle { position: absolute; width: 100px; height: 100px; background-color: transparent; border-radius: 50%; z-index: -1; }
.doodle.circle { border: 2px solid #FF5733; animation: doodleAnimation 7s infinite alternate; }
.doodle.line { width: 150px; height: 5px; background-color: #33FF57; transform: rotate(45deg); animation: doodleAnimation2 5s infinite alternate; }
.doodle.dot { width: 15px; height: 15px; background-color: #5733FF; border-radius: 50%; }
.doodle.zigzag { width: 100px; height: 10px; background: linear-gradient(45deg, #FF5733 25%, transparent 25%, transparent 50%, #FF5733 50%, #FF5733 75%, transparent 75%, transparent); background-size: 20px 20px; animation: doodleAnimationZigzag 6s infinite alternate; }
.doodle.squiggle { width: 60px; height: 20px; background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 5"><path d="M0 5 Q5 0 10 5" stroke="#5733FF" fill="none"/></svg>'); background-repeat: repeat-x; animation: doodleAnimationSquiggle 7s infinite alternate; }
#mainGif { height: 90%; display: block; margin: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }


@keyframes doodleAnimation { 0% { transform: scale(0.8); } 100% { transform: scale(1.3); } }
@keyframes doodleAnimation2 { 0% { transform: rotate(78deg); } 100% { transform: rotate(45deg); } }
@keyframes doodleAnimationZigzag { 0% { transform: rotate(0deg); } 100% { transform: rotate(30deg); } }
@keyframes doodleAnimationSquiggle { 0% { transform: translateY(0); } 100% { transform: translateY(-5px); } }
